
.cart{
    background: rgb(5, 0, 0);
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 25%;
    z-index: 21;
    box-shadow: inset 5px 5px 5px rgb(11, 11, 11);
    border-bottom: 3px solid rgb(246, 241, 241);
    border-radius: 10px;
}
.cartCtx{
    border-bottom: 1px solid goldenrod;
}
